{% extends 'base.html' %}
 {% block title %}

<title>Edit-Tasklist</title>

   {% endblock title %}


 {% block content %}
   <div class="container">
   <br>
   {% if task_obj.manage == request.user %}
    <form method="POST" class="row">
   {% csrf_token %}
   
   <lable class="col-lg-2"></lable>
    <input type="text" class="form-control col-lg-6" name="task" placeholder="{{task_obj.task}}" value="{{task_obj.task}}">
    <input type="hidden" name="done" value="{{  task_obj.done}}">

    <button type="submit" class="btn btn-primary col-lg-2 ">Update Task</button>
   </form>
    {% else %} 
    <h2>Access Denied</h2>
    {% endif %}
    </div>
  {% endblock content %}


   